@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorTheme1: #4b545f;
  --colorTheme2: #373d44;
  --colorTheme3: #f0f0f0;
}

@font-face {
  font-family: "montserrat-bold";
  src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "montserrat-black";
  src: url("/assets/fonts/Montserrat/Montserrat-black.ttf");
}
@font-face {
  font-family: "dm-sans";
  src: url("/assets/fonts/DM_Sans/static/DMSans-Regular.ttf");
}
@font-face {
  font-family: 'roboto';
  src: ("/assets/fwonts/Roboto/Roboto-Regular.ttf");
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-theme1{
  color: var(--colorTheme1);
}
.bg-theme1{
  background-color: var(--colorTheme1);
}
.text-theme2{
  color: var(--colorTheme2);
}
.bg-theme2{
  background-color: var(--colorTheme2);
}
.bg-theme3{
  background-color: var(--colorTheme3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-dmsans{
  font-family: "dm-sans";
}

.font-montserrat-bold{
  font-family: "montserrat-bold";
}

.font-montserrat-black{
  font-family: "montserrat-black";
}

.font-roboto{
  font-family: "roboto";
}